@model IEnumerable<DataLayer.DB.HomeProperty>

@section  Home_Property{
    <div class="aa-latest-properties-content">
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-md-4">

                    @Html.Partial("_DefaultProperty", item)

                </div>

            }

        </div>
    </div>
}

