@model DataLayer.DB.HomeProperty
@{
    ViewBag.Title = "ثبت آگهی";
    Layout = "~/Areas/UserPanel/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/Areas/UserPanel/Process_Stepper/bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Areas/UserPanel/Process_Stepper/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Areas/UserPanel/Process_Stepper/bootstrap-rtl.min.css" rel="stylesheet" />*@
<link href="~/Areas/UserPanel/Process_Stepper/ProcessStepper.css" rel="stylesheet" />

<script type="text/javascript">
    window.alert = function () { };
    var defaultCSS = document.getElementById('bootstrap-css');
    function changeCSS(css) {
        if (css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="' + css + '" type="text/css" />');
        else $('head > link').filter(':first').replaceWith(defaultCSS);
    }
    //$(document).ready(function () {
    //    var iframe_height = parseInt($('html').height());
    //    window.parent.postMessage(iframe_height, 'https://bootsnipp.com');
    //});
</script>




<script src="~/Areas/UserPanel/Process_Stepper/jquery-1.11.1.min.js"></script>
<script src="~/Areas/UserPanel/Process_Stepper/bootstrap.min.js"></script>
<link href="~/Content/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/leaflet.js"></script>





<!------ Include the above in your HEAD tag ---------->
<div class="container">

    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle "><img src="~/Areas/UserPanel/Images/icons8-document-45.png" /></a>
                <p> اطلاعات اصلی</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle " disabled="disabled"><img src="~/Areas/UserPanel/Images/icons8-file-45.png" /></a>
                <p>اطلاعات تکمیلی</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle " disabled="disabled"><img src="~/Areas/UserPanel/Images/icons8-cameras-filled-50.png" /></a>
                <p>گالری تصاویر</p>
            </div>
        </div>
    </div>

    <form role="form" action="Create" method="post">

        <div class="row setup-content" id="step-1">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="map"  style="height: 400px;"></div>
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3> Step 2</h3>
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Address</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3> Step 3</h3>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
                </div>
            </div>
        </div>

    </form>

</div>
<script src="~/Areas/UserPanel/Process_Stepper/ProcessStepper.js"></script>

@*<script>

    var map = L.map('map').setView([35.7180961, 51.440398], 19);

    L.tileLayer('http://{s}.tile.cloudmade.com/API-KEY/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/#map=12/35.6742/51.4198">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery ©     <a href="https://www.mapbox.com/">mapbox</a>',
        maxZoom: 18
    }).addTo(map);

    function onMapClick(e) {
        marker = new L.marker(e.latlng, { draggable: 'true' });
        marker.on('dragend', function (event) {
            var marker = event.target;
            var position = marker.getLatLng();
            marker.setLatLng(new L.LatLng(position.lat, position.lng), { draggable: 'true' });
            map.panTo(new L.LatLng(position.lat, position.lng))
        });
        map.addLayer(marker);
    };

    map.on('click', onMapClick);

</script>*@

<script>
        var map = L.map('map')
            .setView([35.7180961, 51.440398], 19);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
   // var marker = L.marker([35.7180961, 51.440398], { title: "My marker", icon: "" }).addTo(map);


    </script>
<script>
    function onMapClick(e) {
        
        marker = new L.marker(e.latlng, { draggable: 'true' });//L.marker([35.7180961, 51.440398], { title: "My marker"});//new L.marker(e.latlng, { draggable: 'true' });
        marker.on('dragend', function (event) {
            var marker = event.target;
            var position = marker.getLatLng();
            marker.setLatLng(new L.LatLng(position.lat, position.lng), { draggable: 'true' });
            map.panTo(new L.LatLng(position.lat, position.lng))
        });
        map.addLayer(marker);
    };

    map.on('click', onMapClick);
</script>

@*دریافت لوکیشن از مارکر------------------------------------------------------------ر-----------------------------------------------------*@ 
@*<script>
    map.on('click', function (ev) {
        var latlng = map.mouseEventToLatLng(ev.originalEvent);
        console.log(latlng.lat + ', ' + latlng.lng);
    });
    //35.71379969931505, 51.44191503524781
</script>*@


@*<script>
    mapdiv = document.getElementById("map")

    mapdiv.ondragover = function (e) {
        e.preventDefault()
        e.dataTransfer.dropEffect = "move"
    }

    mapdiv.ondrop = function (e) {
        e.preventDefault()
        imagePath = e.dataTransfer.getData("text/plain")
        coordinates = map.containerPointToLatLng(L.point([e.clientX, e.clientY]))
        L.marker(coordinates, {
            icon: L.icon({ iconUrl: imagePath }),
            draggable: true
        })
            .addTo(map)
    }
</script>*@


@*<script>
        function onMapClick(e) {
            marker = new L.marker(e.latlng, { draggable: 'true' });
            marker.on('dragend', function (event) {
                var marker = event.target;
                var position = marker.getLatLng();
                marker.setLatLng(new L.LatLng(position.lat, position.lng), { draggable: 'true' });
                map.panTo(new L.LatLng(position.lat, position.lng))
            });
            map.addLayer(marker);
        };
        map.on('click', onMapClick);
    </script>*@
