    <article class="aa-properties-item">
        <a href="/Property/ShowDetailProperty" class="aa-properties-item-img">
            <img src="~/Images/single-property.jpg" alt="img">
        </a>
        <div class="aa-tag for-rent">
            برای فروش
        </div>
        <div class="aa-properties-item-content">
            <div class="aa-properties-info">
                <span>5 اتاق</span>
                <span>2 تخت</span>
                <span>3 حموم</span>
                <span>1100 مترمربع</span>
            </div>
            <div class="aa-properties-about">
                <h3><a href="/Property/ShowDetailProperty">یک واحد آپارتمان خوب</a></h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                <p><span id="dots">...</span></p>
            </div>
            <div class="aa-properties-detial">
                <span class="aa-price">
                    ريال 35000
                </span>
                <a href="/Property/ShowDetailProperty" class="aa-secondary-btn">نمایش جزئیات</a>
            </div>
        </div>
    </article>
 
