@using DataLayer
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">@DataLayer.Resources.Resource_Main.LanguageSetting <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("زبان فارسی", "ChangeLanguage", "Language", new { Language = "fa" }, null)</li>
        <li>@Html.ActionLink("En-language", "ChangeLanguage", "Language", new { Language = "en" }, null)</li>
    </ul>
</li>
