
<section id="aa-advance-search">
    <div class="container">
        <div class="aa-advance-search-area">
            <div class="form">
                <div class="aa-advance-search-top">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="aa-single-advance-search">
                                <input type="text" placeholder="محدوده خود را وارد کنید">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <select>
                                    <option value="0" selected="">کتگوری</option>
                                    <option value="1">یک دست</option>
                                    <option value="2">زمین</option>
                                    <option value="3">قطعه</option>
                                    <option value="4">تجاری</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <select>
                                    <option value="0" selected="">نوع ملک</option>
                                    <option value="1">یک دست</option>
                                    <option value="2">زمین</option>
                                    <option value="3">قطعه</option>
                                    <option value="4">تجاری</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <select>
                                    <option value="0" selected="">نوع معامله</option>
                                    <option value="1">یک دست</option>
                                    <option value="2">زمین</option>
                                    <option value="3">قطعه</option>
                                    <option value="4">تجاری</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="aa-single-advance-search">
                                <input class="aa-search-btn" type="submit" value="جستجو">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aa-advance-search-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-single-filter-search">
                                <span> مساحت(مترمربع)</span>
                                <span>از</span>
                                <span id="skip-value-lower" class="example-val">0</span>
                                <span>تا</span>
                                <span id="skip-value-upper" class="example-val">300</span>
                                <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                    <div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 30%;"><div class="noUi-handle noUi-handle-upper"></div></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="aa-single-filter-search">
                                <span>قیمت(تومان)</span>
                                <span>از</span>
                                <span id="skip-value-lower2" class="example-val">0</span>
                                <span>تا</span>
                                <span id="skip-value-upper2" class="example-val">400,000,000</span>
                                <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                    <div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 50%;"><div class="noUi-handle noUi-handle-upper"></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
