#slider-property{
	margin-bottom: 40px;
}

#slider-property .carousel-inner .item img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

#slider-property .carousel-indicators li{
	position: relative;
	width: 100px;
	height: 65px;
	margin: 0;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		-ms-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
	border-width: 2px;
	border-color: #fff;
	text-indent: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

#slider-property .carousel-indicators li::after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.6);
	-webkit-transition: background .1s ease-in-out;
	   -moz-transition: background .1s ease-in-out;
		-ms-transition: background .1s ease-in-out;
		 -o-transition: background .1s ease-in-out;
			transition: background .1s ease-in-out;
}

#slider-property .carousel-indicators li img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

#slider-property .carousel-indicators .active::after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.1);
	-webkit-transition: background .1s ease-in-out;
	   -moz-transition: background .1s ease-in-out;
		-ms-transition: background .1s ease-in-out;
		 -o-transition: background .1s ease-in-out;
			transition: background .1s ease-in-out;
}

#slider-property .carousel-indicators .active {
  border-color: #4fc1e9;
  border-width: 2px;
}



#slider-property{
	margin-bottom: 40px;
}

#slider-property .carousel-inner .item img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

#slider-property .carousel-indicators li{
	position: relative;
	width: 100px;
	height: 65px;
	margin: 0;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		-ms-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
	border-width: 2px;
	border-color: #fff;
	text-indent: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

#slider-property .carousel-indicators li::after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.6);
	-webkit-transition: background .1s ease-in-out;
	   -moz-transition: background .1s ease-in-out;
		-ms-transition: background .1s ease-in-out;
		 -o-transition: background .1s ease-in-out;
			transition: background .1s ease-in-out;
}

#slider-property .carousel-indicators li img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

#slider-property .carousel-indicators .active::after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.1);
	-webkit-transition: background .1s ease-in-out;
	   -moz-transition: background .1s ease-in-out;
		-ms-transition: background .1s ease-in-out;
		 -o-transition: background .1s ease-in-out;
			transition: background .1s ease-in-out;
}

#slider-property .carousel-indicators .active {
  border-color: #4fc1e9;
  border-width: 2px;
}


.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
/*   -webkit-transition: .6s ease-in-out right;
       -o-transition: .6s ease-in-out right;
          transition: .6s ease-in-out right; */
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  right: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  right: 100%;
}
.carousel-inner > .prev {
  right: -100%;
}
.carousel-inner > .next.right,
.carousel-inner > .prev.left {
  right: 0;
}
.carousel-inner > .active.right {
  right: -100%;
}
.carousel-inner > .active.left {
  right: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.left {
  left: 0;
  right: auto;
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right,
.carousel-control .glyphicon-chevron-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  right: 50%;
  z-index: 15;
  width: 60%;
  padding-right: 0;
  margin-right: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  bottom: 20px;
  right: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev {
    margin-right: -15px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-next {
    margin-left: -15px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.Crosel-Position-right-Left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.attribSP {
    display: inline-block;
    width: 25%;
    float: right;
}
#attribSP-place {
    float: right;
    width: 100%;
    background-color: #efefef;
    padding: 10px;
    /*border: 1px solid #000;*/
}

.ChartView {
    direction: ltr !important;
    position:inherit !important;
}